Repository airRnot1106/airrnot.dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markup, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks dir --verbose --no-banner

    lint-code:
      glob: '*.{js,ts,jsx,tsx}'
      run: pnpm oxlint --type-aware --type-check --fix {staged_files} && pnpm eslint --fix {staged_files}
      stage_fixed: true

    lint-markup:
      glob: '*.{html,jsx,tsx}'
      run: pnpm markuplint {staged_files} --fix --problem-only
      stage_fixed: true

    format:
      glob: '*.{js,ts,jsx,tsx,json,yml,yaml,md}'
      run: pnpm oxfmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true

chore: init panda css
  .gitignore
  eslint.config.mjs
  package.json
  panda.config.ts
  pnpm-lock.yaml
  postcss.config.cjs
  src/app/globals.css
  src/app/page.module.css
  src/app/page.tsx
Due: lint-code, lint-markup, format

fix: fix glob
  lefthook.yaml
Due: format

chore: init @tsconfig/strictest and remove paths
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: format

chore: remove unnecessary layout codes
  src/app/layout.tsx
Due: lint-code, lint-markup, format

chore: update next.config.ts
  next.config.ts
Due: lint-code, format

chore: init storybook
  .gitignore
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  mcp.json
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.shims.d.ts
Due: lint-code, lint-markup, format

chore: init vitest
  package.json
  pnpm-lock.yaml
  src/libs/testing.tsx
  tsconfig.json
  vitest.config.ts
Due: lint-code, lint-markup, format

chore: init msw
  mocks/browser.ts
  mocks/handlers.ts
  mocks/server.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/mockServiceWorker.js
  src/app/layout.tsx
  src/libs/msw/msw-client-provider.tsx
  src/libs/msw/msw-provider.tsx
Due: lint-code, lint-markup, format

chore: init ci
  .github/dependabot.yaml
  .github/workflows/format.yaml
  .github/workflows/lint.yaml
Due: format

chore: init knip
  .github/workflows/lint.yaml
  knip.json
  package.json
  pnpm-lock.yaml
Due: format

chore(ci): add gitleaks workflow
  .github/workflows/gitleaks.yaml
Due: format

fix: change to explicitly specify the pnpm version
  flake.nix
  package.json
Due: format

chore(ci): temporarily disable knip
  .github/workflows/lint.yaml
Due: format

chore: install awesome dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat: add panic-helper
  src/utils/panic-helper.ts
Due: lint-code, format

feat: add button
  src/components/button/_base/_variant/ghost/ghost-button.stories.tsx
  src/components/button/_base/_variant/ghost/ghost-button.tsx
  src/components/button/_base/_variant/ghost/index.ts
  src/components/button/_base/_variant/index.ts
  src/components/button/_base/_variant/normal/index.ts
  src/components/button/_base/_variant/normal/normal-button.stories.tsx
  src/components/button/_base/_variant/normal/normal-button.tsx
  src/components/button/_base/button.tsx
  src/components/button/_base/index.ts
  src/components/button/index.ts
Due: lint-code, lint-markup, format

feat: add button-link
  src/components/button-link/_base/_variant/ghost/ghost-button-link.stories.tsx
  src/components/button-link/_base/_variant/ghost/ghost-button-link.tsx
  src/components/button-link/_base/_variant/ghost/index.ts
  src/components/button-link/_base/_variant/index.ts
  src/components/button-link/_base/_variant/normal/index.ts
  src/components/button-link/_base/_variant/normal/normal-button-link.stories.tsx
  src/components/button-link/_base/_variant/normal/normal-button-link.tsx
  src/components/button-link/_base/button-link.tsx
  src/components/button-link/_base/index.ts
  src/components/button-link/index.ts
Due: lint-code, lint-markup, format

chore: set cooldown to dependabot
  .github/dependabot.yaml
Due: format

feat: add site-footer
  src/features/site/components/site-footer/index.ts
  src/features/site/components/site-footer/site-footer.stories.tsx
  src/features/site/components/site-footer/site-footer.tsx
Due: lint-code, lint-markup, format

feat: add site-theme-switch-dropdown
  src/features/site-theme/components/site-theme-switch-dropdown/index.ts
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.stories.tsx
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.tsx
  src/features/site-theme/schemas.ts
Due: lint-code, lint-markup, format

chore: add mockServiceWorker.js to oxfmt ignorePatterns because ci is failing
  .oxfmtrc.json
Due: format

chore: add build workflow
  .github/workflows/build.yaml
Due: format

chore: enable @typescript-eslint/consistent-type-imports
  .oxlintrc.json
Due: format

style: format
  src/app/layout.tsx
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.tsx
Due: lint-code, lint-markup, format

fix: rename .mcp.json
  .mcp.json
Due: format

fix: optimize gitleaks command for pre-commit
  lefthook.yaml
Due: format

chore(vitest): exclude direnv
  vitest.config.ts
Due: lint-code, format

improve: migrate from Headless UI to Base UI
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/button-link/_base/_variant/ghost/ghost-button-link.tsx
  src/components/button-link/_base/_variant/normal/normal-button-link.tsx
  src/components/button/_base/_variant/ghost/ghost-button.tsx
  src/components/button/_base/_variant/normal/normal-button.tsx
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.tsx
Due: lint-code, lint-markup, format

fix: fix unused props in SiteThemeSwitchDropdown
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.tsx
Due: lint-code, lint-markup, format

fix: fix issue where Dropdown's onClick was not functioning
  src/features/site-theme/components/site-theme-switch-dropdown/site-theme-switch-dropdown.tsx
Due: lint-code, lint-markup, format

refactor: center align button and button-link elements by default
  src/components/button-link/_base/_variant/ghost/ghost-button-link.tsx
  src/components/button-link/_base/_variant/normal/normal-button-link.tsx
  src/components/button/_base/_variant/ghost/ghost-button.tsx
  src/components/button/_base/_variant/normal/normal-button.tsx
Due: lint-code, lint-markup, format

feat: add site-drawer
  src/features/site/components/site-drawer/index.ts
  src/features/site/components/site-drawer/site-drawer.tsx
Due: lint-code, lint-markup, format

fix: missing ThemeProvider configuration in layout
  src/app/layout.tsx
Due: lint-code, lint-markup, format

chore: add dependabot automation workflow
  .github/workflows/dependabot-automation.yaml
Due: format

fix: change merge to squash
  .github/workflows/dependabot-automation.yaml
Due: format

refactor: remove default swipeDirection
  src/features/site/components/site-drawer/site-drawer.tsx
Due: lint-code, lint-markup, format

test(storybook): add stories for SiteDrawer component
  src/features/site/components/site-drawer/site-drawer.stories.tsx
Due: lint-code, lint-markup, format

fix: move centering styles to inner grid container in SiteDrawer
  src/features/site/components/site-drawer/site-drawer.tsx
Due: lint-code, lint-markup, format

feat: add site-header
  src/features/site/components/site-header/index.ts
  src/features/site/components/site-header/site-header.stories.tsx
  src/features/site/components/site-header/site-header.tsx
Due: lint-code, lint-markup, format

fix: remove unsupported import group
  .oxfmtrc.json
Due: format
